body {
    font-family: Helvetica, sans-serif;
}

header {
    color: khaki;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-image: url("../images/pattern.jpeg");
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.mintgreen {
    background-color: mediumspringgreen;
}

.coral {
    background-color: lightcoral;
}

.sky {
    background-color: skyblue;
}

.prices {
    color: blue;
    font-weight: bold;
}